/* reset styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(38, 38, 38);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

.button1 {
    border-radius: 100px;
    background: radial-gradient(ellipse 80% 50% at 50% 120%, rgba(62, 61, 117), rgba(18, 18, 38));
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    padding: 1rem 1.5rem;
    border-color: hsla(0, 0%, 100%, .3);
    border-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}

.button1 span {
    color: white;
    font-weight: 600;
}

.button1 .uno {
    container-type: size;
    overflow: visible;
    inset: 0;
    position: absolute;

}

.button1 .uno div {
    border-radius: 0;
    aspect-ratio: 1;
    animation: slide 1.5s ease-in-out infinite alternate;
    inset: 0;
    position: absolute;
}

.button1 .uno div div {
    --spread: 90deg;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0deg;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    translate: 0 0;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    background: conic-gradient(from calc(270deg - (var(--spread) * .5)), transparent 0, #fff var(--spread), transparent var(--spread));
    animation: spin 3s infinite linear;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: auto;
    inset: -100%;
    position: absolute;
}

.button1 .dos {
    inset: 0.1em;
    border-radius: 100px;
    background: radial-gradient(ellipse 80% 50% at 50% 120%, rgba(62, 61, 117), rgba(18, 18, 38));
    position: absolute;
}

.button1 .tres {
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
    position: relative;
    pointer-events: none;
}

@keyframes slide {
    100% {
        transform: translate(calc(100cqw - 100%));
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }

    0% {
        rotate: 0deg
    }

    65%,
    85% {
        rotate: 270deg
    }

    to {
        rotate: 1turn
    }
}

a {
    color: rgb(252 233 106);
}